    <div class="banner-container">
        <ul class="ul-width" style="width: 16240px;">
            <li>
                <a href="#"><img src="https://unsplash.it/874/639?image=529" alt=""></a>
                <span class="overlay"></span>     
            </li>
            <li>
                <a href="#"><img src="https://unsplash.it/874/639?image=545" alt=""></a>   
                <span class="overlay"></span>
            </li>
            <li>
                <a href="#"><img src="https://unsplash.it/874/639?image=541" alt=""></a>   
                <span class="overlay"></span>
            </li>
            <li>
                <a href="#"><img src="https://unsplash.it/874/639?image=537" alt=""></a>   
                <span class="overlay"></span>
            </li>
            <li>
                <a href="#"><img src="https://unsplash.it/874/639?image=538" alt=""></a>   
                <span class="overlay"></span>
            </li>
            
        </ul>
        <div class="clear"></div>
    </div>

 
